@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <title>SalaryGW</title>
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        เกิดข้อผิดพลาดที่ไม่สามารถจัดการได้
        <a href="" class="reload">โหลดใหม่</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 