@namespace SalaryGW.Shared
@inherits LayoutComponentBase

<PageTitle>SalaryGW</PageTitle>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/site.css" asp-append-version="true" />

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">SalaryGW table</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 